*{
  margin: 0px;
  padding: 0px;
}

.containermenu{
  background-color: grey;
  text-align:center;
}

ul, menu{
  background-color: indianred;
  text-align: center;
  padding: 5px;
  font-family:cursive;
  color: firebrick;
  text-decoration: none;
  font-size: 20;
  text-align:justify;
  position: none;
  display: block;
  -webkit-padding-start: 200px;
  
}

nav ul{
  text-decoration: none;
  position: relative;
  padding-block-end: 100px;
  top:0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  margin: 0px, auto;
  width: 10px;
  list-style: none;
}

.nav li ul{
text-align:center;
display:none;
position:absolute;
min-width: 20px;
}

.nav li a:hover {
  text-align: center;
  background-color:#A0F;
}

.nav li:hover > ul {
display:inline-block;

}


.video-responsive {
  text-align: center;
  position: relative;
  margin:auto;
  height: 10000%;
  width: 500px;
  padding-block-end: 20%;
  }
  
  .video-responsive iframe,
  .video-responsive object,
  .video-responsive embed {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  }


.img:hover{
-webkit-transform: rotateY(180deg);
-webkit-transform-style: preserve-3d;
transform: rotateY(180deg);
transform-style: preserve-3d;}


div img{
  border-bottom-left-radius: 3px;
  transform: scaleX(none);
  animation-duration: border: 2s, 3s, yellow;
  }
  
  .section img src="Prototipo/un paseo para recordar.png"{
    border-bottom-left-radius: 10px;
    transform: scaleX(none);
    animation-duration: border: 2s, 3s, yellow;
  }