*{
  margin: 0px;
  padding: 0;
}
.containermenu{
  background-color: #A0FF33;
  text-align: center;
  position: relative;
}

nav ul{
  position: relative;
  top:0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  margin: 50px;
  width: 1300px;
  list-style: none;

}

.nav li a:hover {
text-align: center;
background-color:#A0F;
}

.nav li ul {
text-align:center;
background-color: darkgray;
display:none;
position:absolute;
min-width:140px;
}

.nav li:hover > ul {
display: inline-block;
position: absolute;
}
