*{
  margin: 0px;
  padding: 0px;
}

.containermenu{
  background-color: grey;
  text-align:center;
}

ul, menu{
  background-color: indianred;
  text-align: center;
  padding: 5px;
  font-family:cursive;
  color: firebrick;
  text-decoration: none;
  font-size: 20px;
  text-align:justify;
  position: none;
  display: block;
  -webkit-padding-start: 200px;
  
}

nav ul{
  text-decoration: none;
  position: relative;
  padding-block-end: 100px;
  top:0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  margin: 0px, auto;
  width: 10px;
  list-style: none;
}

.nav li ul{
text-align:center;
display:none;
position:absolute;
min-width: 20px;
}

.nav li a:hover {
  text-align: center;
  background-color:#A0F;
}

.nav li:hover > ul {
display:inline-block;

}


.video-responsive{
  position: relative;
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 100px;
  margin-bottom: 100px;
  height: 10000%;
  width: 500px;
  padding-block-end: 20%;
  }
  
  .video-responsive iframe{
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 100px;
    margin-bottom: 100px;
  }
 
  .video-responsive object,

  .video-responsive embed {
  position: absolute;
  }


  
  div{
    background-color: indianred;
    margin-top: 2px;
    margin-left: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    transform: scaleX(none);
    animation-duration:initial;
  }

  
  img{
  margin-top: 2px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;

  -webkit-transform: ;
  -webkit-transform-style: preserve-3d;
  transform: ;
  transform-style: preserve-3d;
}